.spacecraft {
    position: absolute;
    background: url('/images/air-plain.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    /* transition: 0.1s; */
}

.spacecraft.right {
    rotate: 30deg;
}

.spacecraft.left {
    rotate: -30deg;
}

.projectile {
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ufo {
    position: absolute;
    background: url('/images/ufo.png');
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
}

