@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #3498db;
}

.start-screen.hidden,
.game-screen.hidden {
    display: none;
}

.spacecraft {
    position: relative;
    background: url('/images/air-plain.png');
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
}

